extends layout

block content
  h1= title
  p Welcome to #{title}
  <div id="container"></div>
  script(id="ractiveTemplate" type="text/ractive")
    {{greeting}} {{who}}!
  
    p What's your name?
      input(value="{{who}}")